[submodule "Karavan/vendor/spdlog"]
	path = Karavan/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Karavan/vendor/GLFW"]
	path = Karavan/vendor/GLFW
	url = https://github.com/glfw/glfw.git
	
[submodule "Karavan/vendor/glm"]
	path = Karavan/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Karavan/vendor/imgui"]
	path = Karavan/vendor/imgui
	url = https://github.com/ashishmittal85/imgui.git
